body{
  font-family: Monotype Corsiva;
  background-color: rgb(185,179,175);
   text-align:center;}
h1{
  background-color: #ee3e80;}
  
  ol {
    list-style-type: lower-roman;}

li{
  background-color: rgb(200,200,200);}


  
  
