body{
  font-family: Monotype Corsiva;
  background-color: rgb(185,179,175);}
h1{
  background-color: #ee3e80;}
  
 table{

    border-bottom: 4px solid #1A0000;

    border-top: 4px solid #1A0000;
}


li{
  background-color: rgb(200,200,200);}


  
  
