body{
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(36, 121, 171);}
h1{
    background-color black;}
    color: rgb(255, 255, 255);}
p{
    color: rgb(255,255,255);}
table{
    border-bottom: 4px solid #1A0000;
        border-top: 4px solid #1A0000; }
        
