body{
  font-family: arial;
  background-color: rgb(185,179,175);}
h1{
  background-color: #ee3e80;}
  
  ol {
    list-style-type: lower-roman;}

table{
  background-color: rgb(200,200,200);}

p {
    border: 5px solid #ee3e80;
    padding: 20px;
    width: 275px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;}
  
  
